#back{
    height: 100%;
    width : 100%;
    background-image: url(bg.jpg);
    background-size: cover;
    position: absolute;
    background-position: center;
    
}
.nav{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 0;
   
}
span{
    font-weight: bolder;
}

nav{
    display:flex;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    justify-content: space-between;
    height:80px;
    position:sticky;
    left: 0;
    top: 0;
    
}
nav h1{
    margin-top: 40px;
    margin-left: 20px;
    color: white;
}
li{
    float: left;
    border-right: 1ps solid black;
}

nav ul li{
    display: flex;
    list-style: none;
    margin: 0px 5px;
    padding: 20px;
    margin-left:auto;
    
}



nav ul li a:hover{
    color : rgb(56, 24, 143);
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    padding: 1px 6px;
    font-weight: bold;
    color: white;
    display: inline-block;
    

}

#text{
    height: fit-content;
    width: 100% ;
    padding-top:18%;
    padding-bottom: 14.5%;
    background-color: rgba(8, 8, 8, 0.731);
    border:solid 1px black;
    font-size: 100%;
    color: azure;
    }
#t1{
    font-size: 60px;
}
button{
    font-size: 20px;
    border: solid 1px rgb(5, 5, 5);
    border-radius: 5%;
}
button:hover{
    background-color: burlywood;
}
